<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" href="data:;base64,iVBORw0KGgo="/>
</head>
<body>
<h1>OpenAM Spring Security Integration</h1>
<h2>Test Authentication</h2>
<ul>
    <li th:if="${#arrays.contains(@environment.getActiveProfiles(), 'oauth')}"><a href="/protected-oauth">OAuth2/OIDC</a></li>
    <li th:if="${#arrays.contains(@environment.getActiveProfiles(), 'saml')}"><a href="/protected-saml">SAMLv2</a></li>
    <li th:if="${#arrays.contains(@environment.getActiveProfiles(), 'cookie')}"><a href="/protected-openam">OpenAM Cookie</a></li>
</ul>
</body>
</html>